@import "../../main.scss";

.tests-window {
    height:93vh;
    padding:1rem;
    display: flex;
    flex-direction: row;
}

body {
    background-color: #eeeeee;
}

.tests-left {
    width:25%;
}

.tests-left-parameters {
    background-color: white;
    height:30%;
    box-shadow: 0 0 2px 2px gray;
    border-radius:10px;
}

.tests-left-tests {
    border-radius:10px;
    height:68%;
    margin-top:1rem;
    box-shadow: 0 0 2px 2px gray;
    background-color: white;
}


.tests-right {
    width:75%;
    margin-left:1rem;
    
}

.tests-right-info {
    height:20%;
    display: flex;
    flex-direction: row;
    width:100%;
    
}

.tests-right-info-active {
    box-shadow: 0 0 2px 2px gray;
    border-radius:10px;
    background-color: white;
    width:50%;
    margin-left:1rem;
    padding:0 1rem 1rem 1rem;
}

.tests-right-info-control {
    box-shadow: 0 0 2px 2px gray;
    border-radius:10px;
    background-color: white;
    width: 50%;
    padding:0 1rem 1rem 1rem;
}

.tests-right-content {
    box-shadow: 0 0 2px 2px gray;
    border-radius:10px;
    height:80%;
    padding:1rem;
    margin-top:1rem;
    background-color: white;
    
}

.window-header {
    text-align: center;
    border-bottom: 1px solid grey;
    margin-bottom:0.5rem;
    padding:0.25rem;
}
/********************************* Parameter Window *******************************************/

.parameter-window {
    width:100%;
    height:100%;
    overflow: auto;
    padding:0.5rem;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
    height:12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 6px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(235, 181, 181); 
    border-radius: 10px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f19494; 
    
  }

  .parameter-item {
    height:22px;
    padding-left: 5px;
    &:hover {
        cursor: pointer;
        background-color: $primary-hover-colour;
        border-radius:7px;
    }
  }

  /********************************* Tests panel Window *******************************************/
  .tests-panel-window {
    width:100%;
    height:100%;
    overflow: auto;
    padding:0.5rem;
}
  /********************************* Tests control Window *******************************************/

.test-control-test {
    display: flex;
}

.test-control-parameter {
    display: flex;
}

.lbl {
    width:160px;
}

.run-test-button {
    margin-top:1rem;
    width:100px;
    height:30px;
    background-color: #81cf5d;
    border:none;
    border-radius: 15px;
    &:hover {
        cursor: pointer;
        background-color: #54f808;
    }
    &:disabled {
        background-color: rgb(187, 183, 183);
    }
}

/********************************* Active Tests window *******************************************/

.active-tests-content {
    overflow: auto;
    height:80%;
}

.active-test-item {
        display: flex;
        height:30px;
        margin-top:0.25rem;
        display: flex;
        width:100%;
        align-items: center;
        &:first-child {
            margin-top: 0;
        }
}

.active-test-item-name {
    width:85%;
}


.icon {
    width:25px;
    height:25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-icon {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
  }

  .loading-icon div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 8px;
    border: 4px solid rgb(120, 211, 75);
    border-radius: 50%;
    animation: loading-icon 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(120, 211, 75) transparent transparent transparent;
  }
  .loading-icon div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loading-icon div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loading-icon div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes loading-icon {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  /********************************* Content window *******************************************/

  .content-tabs {
    display: flex;
    justify-content: center;
    
    
  }

  .content-tab {
    background-color: #ececec;
    width:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    padding-top:0;
    &:last-child {
        margin-left: 0.25rem;
    }
    &:hover {
        cursor: pointer;
        background-color: #81cf5d;
    }
}

  .active-content-tab {
    background-color:   #aed69b;
  }